/* CSS Document */

body {
	font-family:'Open Sans', sans-serif;
	color:#6c797a;
}

p {
    margin-bottom: 30px;
}

a {
    color: #3ba933;
    text-decoration: none;
    transition: color 0.25s ease 0s, background 0.25s ease 0s;
}

h1, h2, h3 {
	font-family:'Open Sans', sans-serif !important;	
}

li {
    line-height: 28px;
}

.centered {
text-align:center !important;	
}

.align-right {
	float: right;
	margin: 0 0 30px 30px;
}

.green {
	color: #3ba933 !important;
}

.highlighted-text {
	font-family:'Open Sans', sans-serif;
	/*font-style: italic;
	color: #3ba933;
	font-size: 24px;*/
	line-height: 42px;
}

@media (max-width: 1024px) {
.full-screen-break {
	display:none;	
}
}


/* header */

.header-21 .navbar .brand {
    color: #3ba933;
    font-size: 14px;
    font-weight: 300;
    font-family:'Open Sans', sans-serif;
}

.header-10-sub .background {
	background-image: url(../images/home-header-bg.jpg);
}

.header-10 { 
	height:0;
}

.header-10-sub {
	height:600px;
	background: #3ba933;
}

.header-10-sub .hero-unit p {
    color: #fff !important;
    font-family: 'Open Sans',sans-serif;
}

.header-21 .navbar .navbar-toggle {
    background-image: url(../images/icons/menu-icon-header-8@2x.png);
}

#header-21.navbar-collapse .social-btns {
	display:none;	
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #3ba933;
}

body > .navbar-collapse .nav > li > a {
  border-bottom: 2px solid #4c5357;
  background-color: #2d3438;
  color: #fff;
}

body > .navbar-collapse .subnav li > a {
  color:#CCC;
}

body > .navbar-collapse .nav > li > a .caret {
	color:#4c5357;
}


/* Home Content Styles */

#home .blog-2 h3 {
	
}

#home #thinking.blog-2 {
	background:#ddddcd;
}

#home .content-15 {
    padding-bottom: 90px;
    padding-top: 90px;
}

#home #about h2,
#application h2 {
	font-weight: 400;
	font-size:35px;
	margin-bottom: 60px;
	margin-top:0;
}


.content-15 h3 {
	font-size:32px;	
}

.content-15 p {
    font-size: 16px;
}

#application .content-15 h3 + .lead {
    color: #7f8c8d;
    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

#application .content-15 h3 {
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 21px;
    text-align: center;
}

.blog-2 h4,
.blog-2 {
    font-family:'Open Sans', sans-serif;
}

#home .content-15,
#default .content-15,
#fellow .content-15,
#thinking .content-15,
#thinking .projects-1 {
    padding-bottom: 60px;
    padding-top: 60px;
}

#default .content-12 h1,
#fellow .content-12 h1,
#thinking .content-12 h1 {
margin:0;	
}

#default .content-12 .btn-wide,
#thinking .content-12 .btn-wide {
	padding: 40px 0 80px 0;
}


#home #fellowship h2 {
font-weight:normal;
font-size:35px;
text-align:center;	
margin-bottom: 30px;
}

#home #fellowship h3 {
	font-family:'Open Sans', sans-serif;
}

/* Blog Styles */


.projects-1 .projects .name {
    color: #3ba933;
    font-size: 17px;
    font-weight: 600;
}

#thinking .blog-title {
    color: #3ba933;
    font-size: 22px;
    font-weight: 300;
}

.blog-author-date,
.blog-meta {
	font-size:12px !important;
	color:#999999;
	margin-bottom:10px;
}

.blog-excerpt {
	font-size:14px;
	margin-bottom:10px;
}

.projects-1 .info {
    color: #7f8c8d;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 39px;
    text-align: left;
}

.featured-image-title {
	background: rgba(59, 169, 51, 0.7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:20px;
}

.projects-1 .head-box {
	background-repeat:no-repeat;
	background-position:center top;
	background-color:transparent;
}

.projects-1 .head-box .brand {
    color: #fff;
}

.projects-1 .head-box p,
.projects-1 .head-box a {
	color: #fff !important;
}

/* single post styles */
#single .header-10-sub {
    max-height: 250px;
}

#single .blog-1 #b1-pt-1,
#single .blog-1 .pt-page {
    height:380px;
	padding:0;
}

#single .blog-1-thinking #b1-pt-1,
#single .blog-1-thinking .pt-page {
    height:380px;
  padding:0;
}


#single .header-10-sub .container
#single .blog-1 .pt-page,
#single .blog-1 .box-1 {
position:relative;	
}

#single .header-10-sub .container
#single .blog-1-thinking .pt-page,
#single .blog-1-thinking .box-1 {
position:relative;  
}

#single .blog-1 .boxes .box-1 {
    height: auto;
}

#single .blog-1-thinking .boxes .box-1 {
    height: auto;
}
#single .blog-1 .boxes [class*="box-"] {
    background-color: #fff;
}

#single .blog-1-thinking .boxes [class*="box-"] {
    background-color: #fff;
}
#single .header-10-sub .container .credit,
#single .blog-1 .box-1 .credit,
.projects-1 .credit {
    max-width: 500px;
    position: absolute;
	bottom: 15px;
	right:15px;
	text-align:right;
	font-size:10px !important;
	color: #fff;
	margin-bottom:0;
	padding:5px;
	background-color:#34495e;
	background: rgba(33, 57, 81, 0.7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#single .blog-1-thinking .box-1 .credit,
.projects-1 .credit {
    max-width: 500px;
    position: absolute;
  bottom: 15px;
  right:15px;
  text-align:right;
  font-size:10px !important;
  color: #fff;
  margin-bottom:0;
  padding:5px;
  background-color:#34495e;
  background: rgba(33, 57, 81, 0.7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* Get Started Call to Action Bar */
.content-11 {
    background: #3ba933;
    color: #fff;
}

.content-12 {
	background: #3ba933;
}


.name {
	font-family:'Open Sans', sans-serif;
}

.content-15,
.projects-1,
.projects-3 {
    padding: 60px 0;
}



#terms .content-15 h3 {
    margin-bottom: 30px;
}

#terms .content-15 li {
margin-bottom: 15px;	
}


/* Fellows Template Styles */

.photo {
    background: none no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    top: 0;
    transition: opacity 0.4s ease 0s;
    width: 100%;
}

.fellows-links a {
    color: #3ba933;
    text-decoration:underline;
    transition: color 0.25s ease 0s, background 0.25s ease 0s;
}

.fellows-links a:hover {
    color: #999;
    text-decoration:underline;
    transition: color 0.25s ease 0s, background 0.25s ease 0s;
}

.fellows-links h4 {
	font-family:'Open Sans', sans-serif !important;
	font-size: 18px;
}

#fellow .content-12 .btn-wide {
	font-size: 35px;
	text-transform:none;
}

#fellow .content-15 {
    padding-top: 60px;
}

.home .projects-3 .photo-wrapper a,
.fellows .projects-3 .photo-wrapper a {
	display:block;
	width:220px;
	height:220px;
}



#application .content-5,
#application .content-15 {
	padding: 60px 0 0 0;
}

#application .content-12 .control-btn {
	top: 111px;
}

#application .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 80;
  filter: alpha(opacity=8000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
#application .control-btn:hover,
#application .control-btn:focus,
#application .control-btn.active {
  color: #ffffff;
}
#application .control-btn:hover,
#application .control-btn:focus,
#application .control-btn:active,
#application .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
	#application .control-btn {
    bottom: 30px;
  }
}




/* Header New stylesheet */

.header-21 .navbar {
    font-family:'Open Sans', sans-serif !important;	
    margin: 15px 0px 25px 0px;
}

.header-21 .navbar .nav > li > a {
    color: #788c8d;
    font-family: 'Lora',serif;
    font-size: 18px;
    font-weight: 500;
	text-transform:uppercase;
	 letter-spacing: 0;
}

.header-21 .navbar .nav > li > a:hover,
.header-21 .navbar .nav > li > a:focus,
.header-21 .navbar .nav > li > a.active {
  color: #3ba933;
  background-color: #fff;
}

.header-21 .navbar .nav > li:hover {
	color: #3ba933;
  background-color: #fff;
}

.header-21 .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 28px;
  right: 15px;
}
.header-21 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  width: 22px;
  height: 22px;
  overflow: hidden;
  text-align: center;
}
.header-21 .social-btns > *:first-child {
  margin-left: 0;
}
.header-21 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.header-21 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.header-21 .social-btns > *:hover > * {
  top: -100%;
}

.dropdown-menu {
    border-radius: 0px;
}

/* Git icon */
.fui-git {
	background: url(../images/git-icon-off.png) top no-repeat;
	height:22px;
	width:22px;
}

.fui-git-on {
	background: url(../images/git-icon-on.png) top no-repeat;
	height:22px;
	width:22px;
}

.header-21 .social-btns.git > * > *:first-child {
    background: url(../images/git-icon-off.png);
}

.caret {
	border-width: 5px 4px;
}


/* Footer Styles */

.footer-11 {
padding-top:0;	
}

.footer-11 .brand {
    top: -15px;
}

.footer-11 .additional-links {
    background: #3ba933;
    color: #fff;
    border-top: none;
}

.footer-11 .additional-links .lead,
.footer-11 .additional-links a {
	color: #fff;
}

.footer-11 .social-btns > * {
  width: 22px;
  height: 22px;
}

ul.footer-menu li {
float: left;
list-style-type: none;
margin-right: 16px;	
}

.footer-11 nav ul {
    color: #788c8d;
    font-family: 'Lora',serif;
    font-size: 16px;
    font-weight: normal;
    list-style: none outside none;
}

.footer-11 .additional-links a:hover,
.footer-11 .additional-links a:focus,
.footer-11 .additional-links a.active {
  color: #23651f;
}

.creative-commons-logo {
margin-top:15px;	
}




/* thinking styles */

/*
.content-12 .btn-wide {
	background:url(images/fellows-page-header.png) center top no-repeat;
	color:#fff;
}
*/

.content-12 .btn-wide {
    color: #fff;
    font-family:'Open Sans', sans-serif;	
    font-size: 40px;
	
}

h2.page-subtitle {
	font-weight:normal;
	font-size:	32px;
	margin: 0 0 60px 0;
	text-align:center;
}






/* Default Text Styles */

.content-15 h3 {
    color: #2c3e50;
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    /*margin: 30px 0;*/
    /*text-align: center;*/
}


/* Fixed Top Navbar */

body { padding-bottom: 70px; }

.navbar.navbar-fixed-top {
    margin: 0 auto !important;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.32);
	background:#fff;
}

/*
.header-21 .navbar.navbar-fixed-top .nav > li > a {
    padding: 18px 10px 0;
	font-size: 16px;
}

.header-21 .navbar.navbar-fixed-top .brand img:first-child {
    float: left;
    margin: -8px 15px 0 0;
	width: auto !important;
	height: 33px !important;
}

.header-21 .navbar-fixed-top .social-btns {
    position: absolute;
    right: 15px;
    top: 16px;
}
*/

.photo-link {
display:block;
width:100%;	
}


/* Formstack form */

.fsRow {
margin-bottom: 20px;	
}

.form-control {
	height:auto;
}

#application .col-sm-4 label,
#application .col-sm-3 label,
#application .col-sm-2 label {
width:100%;
text-align:center;	
}

.fsPage input[disabled="disabled"],
.fsPage textarea[disabled="disabled"],
.fsHidden {
	display:none;
	visibility:hidden;	
}

#label26612358 {
font-size:21px;
color:#2c3e50;
}



body p {
	font-size: 18px !important;
	color:#505d5e !important;	
}

body .footer-11 .additional-links p.lead {
  margin-bottom: 28px;
  font-style:italic;
  font-size: 20px !important;
  color: #fff !important;
}

.breadcrumbs {
	text-transform:capitalize;
	padding:20px 0;
	display:block;
	text-align:center;
}

.breadcrumb-divider {
	margin: 0 15px;	
}

#single .title {
    border-bottom: 2px solid #ebedee;
	border-top: 2px solid #ebedee;
}


.textcontainer {
	 border-left: 5px solid #ebedee;
	 border-right: 5px solid #ebedee;
	 margin: 30px 0;
}

.textcontainer:after,
.textcontainer .textbox:after {
  content: "";
  display: table;
  clear: both;
}

#team .textcontainer {
	margin-bottom: 60px;
}
