---
layout: default
title: Flash Grants
---
<div class="page-wrapper" id="fellows">
<!-- Everything after this should be Editable as content -->
<section class="content-12">
    <h1><a class="wide btn-wide " href="#" style="background:url(../../images/fellows-page-header.jpg) center top no-repeat">Flash Grants
    </a></h1>
</section>
<!-- Fellows -->
<section class="projects-3" id="fellow">

  <div class="container flashgrants-container">

    <div class="textcontainer">
      <div class="textbox col-sm-8 col-sm-offset-2">
        <p>
          Twice a year we award a number of small grants to a
          collection of social change agents, no strings attached, in
          support of their work.  We call these Flash Grants and
          recipients are selected based on nominations from our
          Fellows. Each award is worth $5,000.
        </p>
        <p>Here is a list of previous recipients:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
	{% assign by_year = site.data.flashgrants | group_by_year: "date" | sort: "year" %}

	{% for for_year in by_year %}
	{% assign items = for_year.items | sort_two: "date", "name" %}
	{% include flashgrants_block.html heading=for_year.year items=items date_fmt="%B" %}
	{% endfor %}
      </div>
    </div>

  </div>

</section>
