---
layout: default
title: The Shuttleworth Foundation Home
---

<div class="landing-wrapper">
  <div class="landing-main">
    <div class="landing-container">
      <h1>
	We are the<br/>
	<span class="u-green">Shuttleworth Foundation</span>
      </h1>
      
      <div id="landing-rotate">
	<div>
	  ...and we fund people who are unafraid to re-imagine the world<br/>
	  and the way we live in it.
	</div>
	<div class="hidden">
	  ...and we are trying to build an open knowledge society<br/>
	  with limitless possibilities.
	</div>
	<div class="hidden">
	  ...and we hold a vision for a better future<br/>
	  centered around open principles.
	</div>
      </div>

      <div class="landing-buttons">
	<a class="button button-primary" href="#more">Read more</a>
	<a class="button button-primary" href="/apply/">Apply now</a>
      </div>
    </div>
  </div>
  <div class="container-wrapper notification landing-notification">
    <div class="landing-container">
      <i class="icon-notification"></i>
      {% if site.intake.open %}
      
      <p>
	Applications for the {{ site.intake.current }} fellowship
	intake are open. The application round will close on {{ site.intake.close }}.
      
      
      {% else %}
      
      <p>
	Applications for the {{ site.intake.current }} fellowship intake are now
	closed. Applications for the {{ site.intake.next }} round will open on {{ site.intake.reopen }}
      </p>
      
      {% endif %}
      </p>
    </div>
  </div>
</div>

<div id="more" class="container-wrapper">
  <div class="container">
    <h2>
      We would like to live in an open knowledge
      society with limitless possibilities for all.
    </h2>
    
    <hr/>
    
    <div class="six columns">
      <p>
	To help us get there, we identify amazing people with
	innovative ideas, give them a fellowship grant, and multiply
	the money they put into their own project by a factor of ten
	or more.
      </p>
      <p>
	If we are deliberate about finding great people, supporting
	and sharing their positive approaches for social change, the
	world will get better, faster. That is why we are looking for
	social innovators who are open at heart, have a fresh
	perspective on addressing challenges and have a very clear
	idea of their role in bringing about positive change.
      </p>
      <a class="button button-primary" href="/about/">Learn more</a>
    </div>
    
    <div class="six columns">
      <div class="vimeo">
	<iframe src='https://player.vimeo.com/video/33213160' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    
  </div>
</div>


<div class="container-wrapper grey">
  <div class="container">
    <h2>Open Philosophy</h2>
    <p class="u-text-center">Openness is at the core of the Foundation’s experiment in the world</p>
    
    <hr/>
  </div>
  
  <div class="container">
    <div class="six columns">
      <img src="/images/open.jpg" alt="Open Philosophy"/>
    </div>
    
    <div class="six columns">
      <p>
	We wanted to understand what would happen if the values,
	processes and licences of the FOSS world were applied to areas
	outside of software. Could that provide key building blocks
	for further innovation? What are the conditions that optimise
	innovation for positive social change? How can openness add
	value to that process? This is at the heart of the
	Foundation’s contribution to the world.
      </p>
      <a class="button button-primary" href="/open/">Learn more</a>
    </div>
    
  </div>
</div>

<div class="container-wrapper">
  <div class="container">
    <h2>Fellowship</h2>
    <p class="u-text-center">The only true way is not a project plan but a champion</p>
    <hr/>
  </div>
  
  <div class="container">
    <div class="twelve columns">
      <p>
        The holy grail for every funder is sustained impact - an
        approach continuing to influence behaviour positively long
        after your funding has run out. We believe people, rather than
        systems or organisations, are at the heart of sustaining
        change. The only true way is not a project plan but a
        champion, someone who will drive an idea through an ever
        changing landscape, to continue to make a real difference in
        the world.
      </p>
      <p>
        That is why we invest in individuals, building a family, not a
        portfolio. Each fellow is passionate about a unique cause they
        typically pursue both before and after the fellowship. We make
        a conscious choice not to limit our scope because we believe
        in the power of a diverse network. We strive to build a
        community of fellows who work together across disciplines,
        sparked by their similarities and strengthened by their
        differences.
      </p>
    </div>
  </div>

  {% include fellows.html current=true %}
  
</div>

<div class="container-wrapper notification">
  <div class="container">
      <i class="icon-notification"></i>
      <p>
	Are you interrested in applying for a fellowship?
      </p>
      <a class="button button-primary" href="/apply/">Get started</a>
  </div>  
</div>

<div class="container-wrapper">
  <div class="container">
    <h2>Thinking</h2>
    <p class="u-text-center">What makes us tick</p>
    
    <hr/>
  </div>
  
  <div class="container">
    <div class="six columns">
      <img src="/images/thinking.svg" alt="Thinking"/>
    </div>
    
    <div class="six columns">
      <p>
        The more we share the thinking, working and practices of
        ourselves and our fellows, the better. Making these publicly
        available allows other organisations, project implementers,
        funders, policy makers, change agents, advocates and academics
        to engage - learn from what we have done, critically assess,
        give feedback and open the door to collaboration.
      </p>
      <a class="button button-primary" href="/thinking/">Learn more</a>
    </div>
  </div>
  
</div>

<script>
  /* Rotate through taglines in landing block:
  /*
  /* The fade effects and styling is done using CSS transition
  /* attributes and the script only adds and removes the 'hidden'
  /* lass.
   */
  
  var items = $('#landing-rotate div');
  var index = 0;
  var length = items.length;

  setInterval(function() {
      $(items[index]).addClass('hidden');
      index = (index+1) % length;
      $(items[index]).removeClass('hidden');
  }, 5000);

  /* Smooth scroll anchor links.
   */
  var root = $('html, body');
  $('a[href*=\\#]').click(function(event){
    var href = $.attr(this, 'href');
    root.animate({
        scrollTop: $(href).offset().top - 60
    }, 500, function () {
        window.location.hash = href;
    });
    event.preventDefault();
  });
</script>
