---
layout: default
title: Shuttleworth Foundation - Our Team
---

<div class="container">
  <div class="twelve columns">
    <h1>Our team</h1>
    <hr/>
  </div>
</div>

<div class="container">
  <div class="twelve columns">
    <p>
      The Shuttleworth Foundation is driven by a dedicated team of
      individuals from around the globe that are brought together with
      a common commitment. Their combined experience in working with
      project administration, finance, education, technology, open
      platforms and law contribute toward the Foundation being a
      positive driver of change.
    </p>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    {% for member in site.team %}
    {% assign loopindex = forloop.index | modulo: 4 %}
    {% if loopindex == 1 %}
  </div>
  <div class="container">
    {% endif %}
    <div class="three columns">
      <a href="{{ member.url }}">
	<img src="{{ member.image }}" alt="{{ member.name }}"/>
      </a>
      <p class="u-text-center">
	<a href="{{ member.url }}">{{ member.name }}</a><br/>
	{{ member.position }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
