{% if include.param == 'alumni' %}
{% assign data = site.categories.alumni %}
{% else %}
{% assign data = site.categories.fellows %}
{% endif %}
{% for fellow in data %}
{% assign loopindex = forloop.index | modulo: 3 %}
{% if loopindex == 1 %}
<div class="projects">
{% endif %}
<div class="project-wrapper">
    <div class="project">
        <div class="photo-wrapper">
            <a href="{{ fellow.url }}" >
                <div class="photo"><img src="../images/fellows/{{fellow.photo}}" alt="{{fellow.fullname}}"></div>
            </a>
            <a href="{{ fellow.url }}" >
                <div class="overlay"><span class="fui-eye"></span></div>
            </a>
        </div>
        <div class="info">
            <div class="name">{{fellow.fullname}}</div>
            {{fellow.project}}</div>
    </div>
</div>
{% if loopindex == 0 %}
</div>
{% endif %}
{% endfor %}

