<div class="container-wrapper footer">
  <div class="container">
    <div class="links">
      <a href="/team/">TEAM</a>
      <a href="/thinking/">THINKING</a>
      <a href="/about/terms/">TERMS</a>
      <a href="/about/privacy/">PRIVACY</a>
      <a href="/contact/">CONTACT</a>
    </div>

    <div class="icons">
      <a href="https://github.com/ShuttleworthFoundation/shuttleworthfoundation.org">
	<img src="/images/icons/github.png" alt="Github"/>
      </a>
      <a href="https://github.com/ShuttleworthFoundation/shuttleworthfoundation.org/blob/master/LICENSE.md">
	<img src="/images/icons/creativecommons.png" alt="Creative Commons"/>
      </a>
    </div>
    
    <div>
      This work is made available under a CC-BY-SA 4.0 License
    </div>
  </div>
</div>
