<head>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="shortcut icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}">

    <!-- Third Party -->
    <link rel="stylesheet" type="text/css" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/tooltipster/tooltipster.bundle.min.css' | prepend: site.baseurl }}" />

    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" type="text/css" href="{{ '/css/flat-ui.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/icon-font.css' | prepend: site.baseurl }}">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/css/animations.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/custom.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/extra.css' | prepend: site.baseurl }}">
    
    <title>{{ page.title }}</title>
    
    <script>
      /* Global queue of functions to execute after JQuery load. */
      _jqq = [];
    </script>
</head>
