<head>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Third Party -->
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/assets/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/tooltipster-4.1.6/js/tooltipster.bundle.min.js"></script>

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">

    <title>{{ page.title }}</title>

    <script>
      /* Global queue of functions to execute after JQuery load. */
      _jqq = [];
    </script>
</head>
