<head>
    <meta charset="utf-8">

      <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
    


    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="{{ "/css/flat-ui.css" | prepend: site.baseurl }}">
     <link rel="stylesheet" href="{{ "/css/icon-font.css" | prepend: site.baseurl }}">
    
    <!-- custom google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- end -->
    <link rel="stylesheet" href="{{ "/css/animations.css" | prepend: site.baseurl }}">

     <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
<!--     <link rel="stylesheet" href="{{ "/css/thinking.css" | prepend: site.baseurl }}">
 -->
      <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
    
    <title>The Shuttleworth Foundation Home</title>
</head>
