<!-- header-21 -->
<header class="header-21">
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="{{ site.baseurl }}/">
              <img src="{{ "/images/logo-icon.png" | prepend: site.baseurl }}" width="42" height="21" alt="The Shuttleworth Foundation">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav">
              <li class="dropdown">
              <a data-scroll href="#about" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
              About <b class="caret"></b>
              </a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ "/reports" | prepend: site.baseurl }}">Annual Reports</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#fellowship" data-scroll class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                      Fellows <b class="caret"></b>
                  </a>
                  
                  <ul class="dropdown-menu">
                      <li><a href="{{ "/fellows" | prepend: site.baseurl }}">Fellows</a></li>
                      <li><a href="{{ "/alumni" | prepend: site.baseurl }}">Alumni</a></li>
                      <li><a href="{{ "/applications" | prepend: site.baseurl }}">Applications</a></li>
                  </ul>
              </li>
              <li><a href="{{ "/open" | prepend: site.baseurl }}">Open</a></li>

              <li><a href="{{ "/thinking" | prepend: site.baseurl }}">Thinking</a></li>
          </ul>

          <div class="social-btns twitter pull-right">
              <a href="https://twitter.com/ShuttleworthFdn" target="_blank">
                  <div class="fui-twitter"></div>
                  <div class="fui-twitter-on"></div>
              </a>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</header>
<!-- header end -->
<span class="no-print">
    <!--<span>huonw (Huon Wilson):</span>-->
    <span><!-- Breadcrumbs: -->
            {% capture url_parts %}{{ page.url | replace:'/'," " }}{% endcapture %}
            {% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
            {% assign previous="" %}
            {% if num_parts == "0" or num_parts == "-1" or page.no_breadcrumbs %}
              <a href="{{ site.baseurl }}/">home</a> &nbsp;
            {% else %}
              <a href="{{ site.baseurl }}/">home</a> &#187;
              {% for unused in site.breadcrumb_list limit:num_parts %}
                {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
                {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
                <a href="{{previous | prepend: site.baseurl}}">{{ first_word }}</a> {% unless forloop.last %}&#187;{% endunless %}
                {% capture url_parts %}{{ url_parts |remove_first:first_word }}{% endcapture %}
              {% endfor %}
            {% endif %}
               &#187;<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title}}</a>
          </span>
  </span>
