<!-- header-21 -->
<header class="header-21">
  <div class="container">
    <div class="row">
      <div class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="{{ site.baseurl }}/">
              <img src="{{ "/images/logo-icon.png" | prepend: site.baseurl }}" width="42" height="21" alt="The Shuttleworth Foundation">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav">
              <li class="dropdown">
              <a data-scroll href="{{ "/about" | prepend: site.baseurl }}" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
              About <b class="caret"></b>
              </a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ "/reports" | prepend: site.baseurl }}">Annual Reports</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="{{ "/fellows" | prepend: site.baseurl }}" data-scroll class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                      Fellows <b class="caret"></b>
                  </a>
                  
                  <ul class="dropdown-menu">
                      <li><a href="{{ "/fellows" | prepend: site.baseurl }}">Fellows</a></li>
                      <li><a href="{{ "/alumni" | prepend: site.baseurl }}">Alumni</a></li>
                      <li><a href="{{ "/applications" | prepend: site.baseurl }}">Applications</a></li>
                  </ul>
              </li>
              <li><a href="{{ "/open" | prepend: site.baseurl }}">Open</a></li>

              <li><a href="{{ "/thinking" | prepend: site.baseurl }}">Thinking</a></li>
          </ul>

          <div class="social-btns twitter pull-right">
              <a href="https://twitter.com/ShuttleworthFdn" target="_blank">
                  <div class="fui-twitter"></div>
                  <div class="fui-twitter-on"></div>
              </a>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</header>
<!-- header end -->
