<nav class="navbar">
  <div class="container">
    <a class="u-pull-left" href="/">
      <img src="/images/logo.svg" alt="The Shuttleworth Foundation"/>
    </a>
    <ul>
      <li class="dropdown-toggle">
	<a href="/about/">About</a>
	<ul class="dropdown">
	  <li>
	    <a href="/about/how-we-work/">How we work</a>
	  </li>
	  <li>
	    <a href="/reports/">Annual reports</a>
	  </li>
	</ul>
      </li>
      <li class="dropdown-toggle">
	<a href="/fellows/">Fellows</a>
	<ul class="dropdown">
	  <li>
	    <a href="/fellows/">Current fellows</a>
	  </li>
	  <li>
	    <a href="/fellows/alumni/">Alumni</a>
	  </li>
	  <li>
	    <a href="/fellows/flash-grants/">Flash grants</a>
	  </li>
	  <li>
	    <a href="/apply/">Applications</a>
	  </li>
	</ul>
      </li>
      <li>
	<a href="/open/">Open</a>
      </li>
      <li>
	<a href="/thinking/">Thinking</a>
      </li>
    </ul>
  </div>
</nav>
