<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42828521-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "/javascript/jquery-1.10.2.min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/jquery.bxslider.min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/jquery.scrollTo-1.4.3.1-min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/jquery.sharrre.min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/bootstrap.min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/masonry.pkgd.min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/modernizr.custom.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/page-transitions.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/easing.min.js" | prepend: site.baseurl }}"  ""></script>
<!--<script src="{{ "/javascript/jquery.svg.js" | prepend: site.baseurl }}"  ""></script>-->
<!--<script src="{{ "/javascript/jquery.svganim.js" | prepend: site.baseurl }}"  ""></script>-->
<!--<script src="{{ "/javascript/query.backgroundvideo.min.js" | prepend: site.baseurl }}"  ""></script>-->
<script src="{{ "/javascript/froogaloop.min.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/startup-kit.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/smooth-scroll.js" | prepend: site.baseurl }}"  ""></script>
<!--<script src="{{ "/javascript/bootstrap-hover-dropdown.min.js" | prepend: site.baseurl }}"  ""></script>-->
<script src="{{ "/javascript/classie.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/cbpAnimatedHeader.js" | prepend: site.baseurl }}"  ""></script>
<script src="{{ "/javascript/animatedtext.js" | prepend: site.baseurl }}"  ""></script>
<script>
  /* Execute all JS functions queued for execution after JQuery load. */
  if (_jqq) {
      $(_jqq).each(function() {
          this();
      });
  }
</script>
