/* Misc */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    height: 96px;
    background-image: url('/images/divider.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.tweet {
    color: $white;
    background-color: $darkgrey;
    border-radius: $rounding;
    padding: $padding $padding*2;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    position: relative;

    &:after {
        content: "";
	display: block;
	position: absolute;
	top: 99%;
	left: 220px;
	border-width: $padding*0.75 $padding*0.75;
	border-style: solid;
	border-color: $darkgrey;
	border-bottom-color: transparent;
	border-right-color: transparent;
	margin-top: -$padding*0.325;
	transform: scaleY(0.5);
    }
}

.tweet-footer {
    margin-top: $padding*0.5;
    margin-bottom: $padding*2;

    img {
        width: $padding*4 !important;
	height: $padding*4;
	position: relative;
	left: 100px;
    }

    .tweet-handle {
	background-color: $grey;
	padding: $padding*0.5 $padding;
	border-radius: $rounding;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	float: right;
	margin-right: $padding*5;
    }
}

@media screen and (max-width: 600px) {
    .tweet {
	font-size: 2.4rem;
    }

    .tweet-footer .tweet-handle {
	margin-right: 0;
	margin-bottom: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .tweet-footer .tweet-handle {
	margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    .tweet-footer .tweet-handle {
	float: none;
    }
}