/* Misc */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    height: 96px;
    background-image: url('/images/divider.png');
    background-repeat: no-repeat;
    background-position: center center;
}
