/* Utilities */

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

.u-text-center {
    text-align: center;
}

.u-text-left {
    text-align: left;
}

.u-no-margin-lr {
    margin-left: 0;
    margin-right: 0;
}

.u-green {
    color: $green;
}