<div class="light-green alternating wrapper">
  <div class="container">
    <div class="twelve columns">
      <h2>{% if page.name %}{{ page.name }}'s flash grant nominations{% else %}Flash grant nominations{% endif %}</h2>
      <p>
	Twice a year we award a number of small grants to a collection
	of social change agents, no strings attached, in support of
	their work. We call these Flash Grants and recipients are
	selected based on nominations from our Fellows. Each award is
	worth $5,000.
      </p>
    </div>
  </div>
  
  <div class="container">
    {% for grant in include.grants %}
    {% assign loopindex = forloop.index | modulo: 4 %}
    {% if loopindex == 1 %}
  </div>
  <div class="container">
    {% endif %}
    <div class="three flashgrant columns">
      {% if grant.gender %}
      <img src="/images/icons/{{ grant.gender }}.svg" alt="{{ grant.gender | capitalize }}"/>
      {% endif %}
      <div class="content">
	{{ grant.name }}<br/>
	<a href="{{ grant.homepage }}">{{ grant.homepage | remove:"http://" | remove:"https://" | truncate:28,"..." }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
    
</div>
