<div class="light-green alternating wrapper">
  <div class="container">
    <div class="eight columns">
      <div class="vimeo tooltipster" title="Click to play / pause video">
	<iframe src="{{ include.video }}" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    
    <div class="four columns links">
      
      {% if include.links %}
      <div class="link-block clearfix">
	<img class="icon" src="/images/icons/links.svg" alt="Links" />
	<div class="link-heading">
          Links
	</div>
	{% for link in include.links %}
	{% for l in link %}
	<a href="{{l[1]}}">{{l[0]}}</a></br>
	{% endfor %}
	{% endfor %}
      </div>
      {% endif %}
      
      {% if include.projects %}
      <div class="link-block clearfix">
	<img class="icon" src="/images/icons/projects.svg" alt="Projects" />
	<div class="link-heading">
          Projects
	</div>
	{% for link in include.projects %}
	{% for l in link %}
	<a href="{{l[1]}}">{{l[0]}}</a></br>
	{% endfor %}
	{% endfor %}
      </div>
      {% endif %}
      
      {% if include.twitter %}
      <div class="link-block clearfix">
	<img class="icon" src="/images/icons/twitter.svg" alt="Tweets" />
	<div class="link-heading">
          Twitter
	</div>
	<a href="http://www.twitter.com/{{page.twitter}}">@{{page.twitter}}</a>
      </div>
      {% endif %}
      
    </div>
  </div>
</div>
