---
layout: default
title: Shuttleworth Foundation - Applications
---

<link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/apply.css">

<div class="landing-wrapper">
  <div class="landing-applications">
    <div class="landing-container">
      <h1>
  <span class="u-green">Fellowship Applications</span>
      </h1>
    <div class="container">
      <h4>
        The Shuttleworth Foundation offers fellowships to individuals
        to implement their innovative idea for social change. We are
        most interested in exceptional ideas at the intersection
        between technology, knowledge and learning, with openness
        being the key requirement.
        </h4>
      </div>
      <h6>
  <a class="button button-primary" href="#more">Learn more</a>
  <a class="button button-primary" href="/apply/form/">Apply now</a>
</h6>
</div>
</div>
</div>

<div id="more" class="grey wrapper">
  <div class="container">
    <h2>Learn More</h2>
      <p class="u-text-center">A selection of articles to help you understand our process</p>
    {% for post in site.tags.applications %}
        {% assign rowindex = forloop.index0 | modulo: 4 %}
        {% if rowindex == 0 or forloop.first %}
  </div>
  <div class="container">
    {% endif %}
    <div class="three white columns post-preview">
      <a href="{{ post.url }}">
  <img src="{{ post.image }}" alt="Featured Image"/>
      </a>
      <p>
  <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
      </p>
      <p>
  {{ post.content | strip_html | truncatewords:25 }}
      </p>
      <div class="tags">
      <a href="{{ post.url }}">Read more...</a>

      </div>
    </div>
    {% else %}
    <h3>No posts found.</h3>
    {% endfor %}
  </div>
</div>

<div class="green wrapper">
  <div class="container">
    <div class="twelve columns u-text-center">
      <i class="icon-notification"></i><br/>
      Applications for the {{ site.intake.current }} fellowship intake
      are {% if site.intake.open %}open{% else %}closed{% endif %}.
    </div>
  </div>
</div>

<div class="wrapper" id="checklist">
  <div class="container">
    <div class="twelve columns">
      <h2>Application Checklist</h2>
      <p class="u-text-center">The Do's and Don'ts of your Fellowship Application</p>
    </div>
  </div>
  <div class="container">
    <div class="six columns">
      <h3><i class="fa fa-check"></i> Do</h3>
      <p>A completed application comprises:</p>
      <ul>
        <li><i class="fa fa-check"></i> The (completed & submitted) application form.</li>
        <li><i class="fa fa-check"></i> Your 5 minute application video (public or private).</li>
        <li><i class="fa fa-check"></i> Your up to date resume.</li>
      </ul>
    </div>
    <div class="six columns">
      <h3><i class="fa fa-times"></i> Don't</h3>
      <p>We do not accept any of the following:</p>
      <ul>
        <li><i class="fa fa-times"></i> Hard copy applications.</li>
        <li><i class="fa fa-times"></i> Partial applications - you must answer all the questions and "submit" the form.</li>
        <li><i class="fa fa-times"></i>Email applications.</li>
      </ul>
    </div>
  </div>
</div>

<div class="grey wrapper" id="getstarted">
  <div class="container">
    <h2>Get Started</h2>
    <div class="six columns">
      <img src="../images/getstarted.jpg" alt="Get Started">
    </div>
    <div class="six columns">
      <p>
	We invite individuals with a fresh approach to solving a
	social challenge, using openness, to apply to our Fellowship
	Program.
      </p>
      <p>
	Applicants may choose to make their application public at any
        time. You are most welcome to do so. For those who choose not
        to, your application will remain private in its entirety
        within the Foundation and its immediate support network until
        such time as you may be offered a Fellowship. At that point,
        we will have a conversation on how best to share information
        about you as a Fellow in the interest of openness. Applicants
        who choose to make their application public do not have a
        specific advantage over those who choose not to do so during
        the selection process.
      </p>
      <p>
	In order to keep your application private, you may choose to
	protect your video submission with a password. Please submit
	the password along with the video link via our secure
	application form.
      </p>
      <p>
	No partial applications will be considered.
      </p>
      <a class="button button-primary" href="/apply/form/">Apply now!</a>
    </div>
  </div>
</div>


<script type="text/javascript">
  /* Smooth scroll anchor links.
   */
  var root = $('html, body');
  $('a[href*=\\#]').click(function(event){
    var href = $.attr(this, 'href');
    root.animate({
        scrollTop: $(href).offset().top - 60
    }, 500, function () {
        window.location.hash = href;
    });
    event.preventDefault();
  });
</script>