section#our-spend {
    #bubbletree {
	width: 100%;
	height: 800px;
	border: none;
    }
    
    iframe.bubbletree {
	position: relative; 
	height: 100%; 
	overflow: hidden;
	
	.label { 
	    position: absolute; 
	    color: #fff; 
	    text-align: center; 
	    cursor: default;
	    pointer-events: none;
	} 
	
	.amount { 
	    font-family: Graublau, Georgia, sans-serif; 
	    font-size: 16px; 
	}
	
	.desc { 
	    font-family: sans-serif; 
	    font-size: 11px;	
	}
	
	.label2 { 
	    position: absolute; 
	    color: #000; 
	    text-align: center; 
	    cursor: default; 
	    font-size: 11px;
	    font-family: sans-serif;
	    margin-top:5px;
	    pointer-events: none;
	    
	    span {}
	}
	
	.tooltip {
	    position: absolute;
	    text-align: center;
	    font-family: Georgia, serif;
	    background: #000;
	    color: #fff;
	    border-radius: 5px;
	    padding: 5px;
	    width: 120px;
	    margin-left: -60px;
	    -moz-transition: opacity 0.2s;
	    -webkit-transition: opacity 0.2s;
	    -o-transition: opacity 0.2s;
	    transition: opacity 0.2s;
	    
	    
	    .tooltip-label {
		font-weight: bold;
		font-size: 14px;
	    }
	    
	    .tooltip-amount {
		font-size: 16px;
	    }
	    
	    
	}
    }
    
    .our-spend-fellow {
	background-image: url(../images/funding-bg.svg);
	background-size: 100% 100%;
	width: 365px;
	height: 400px;
	padding: 30px;
	float: right;
	
	h6 {
	    text-align: center;
	}
	
	svg {
	    margin: 10%;
	    width: 80%;
	}
    }

    .our-spend-map {
	height: 500px;
	
	svg {
	    width: 60%;
	    margin-top: 30px;
    
	    g.popup text.currency {
		font-family: Georgia, serif;
		font-size: 60pt;
	    }
	    
	    g.marker text,
	    g.popup text {
		fill: #fff;
		text-anchor: middle;
		font-family: Georgia, serif;
		font-size: 70pt;
		font-weight: bold;
	    }
	    
	    g.marker {
		cursor: pointer;
		
		&:hover rect {
		    fill: rgb(13,151,159);
		}
		
		rect {
		    fill: rgb(180,178,170);
		}
		
		text.name, text.value {
		    transition: opacity 0.2s;
		    text-anchor: start;
		    font-size: 75px;
		}

		&.active rect {
		    fill: rgb(13,151,159);
		}
	    }
	    
	    g.country {
		transition: opacity 0.5s;
		
		path {
		    fill: rgb(180,178,170);
		    stroke: #fff;
		    stroke-width: 2;
		}
		
		&.active {
		    path {
			fill: rgb(13,151,159);
		    }
		}
	    }
	    
	    g.popup {
		opacity: 0;
		transition: opacity 0.2s;
		pointer-events: none;
		
		rect, path {
		    fill: rgb(13,151,159);
		}
		
		&.active {
		    opacity: 1;
		}
	    }
	    
	    &.rankmode {
		g.popup, g.country {
		    opacity: 0;
		    pointer-events: none;
		}
	    }
	    
	    &.mapmode {
		g.rank {
		    opacity: 0;
		    pointer-events: none;
		}
		
		g.marker {
		    text.name, text.value {
			opacity: 0;
			pointer-events: none;
		    }
		}
	    }
	    
	    g.mode {
		g.mode-map, g.mode-rank {
		    cursor: pointer;
		    
		    rect {
			fill: #fff;
			stroke: rgb(13,151,159);
			stroke-width: 10;
		    }
		    
		    text {
			fill: rgb(13,151,159);
			font-size: 60px;
			text-anchor: middle;
		    }
		    
		    &.mode-active {
			rect {
			    fill: rgb(13,151,159);
			    stroke: rgb(13,151,159);
			    stroke-width: 10;
			}
			
			text {
			    fill: #fff;
			}	
		    }
		}
	    }
	}
	
    }
}
