---
layout: default
---
<link rel="stylesheet" type="text/css" href="/css/fellow.css">

<div class="wrapper">
  <div class="container">
    <h1>{{ page.name }}</h1>
    <h2>{{ page.project }}</h2>
  </div>
  <hr/>
</div>

{% if page.video %}
{% include fellows/links.html links=page.links projects=page.projects twitter=page.twitter video=page.video%}
{% else %}
{% include fellows/links_no_video.html links=page.links projects=page.projects twitter=page.twitter %}
{% endif %}

<div class="light-green alternating wrapper">
  <div class="container">
    <div class="twelve columns">
      <h2>So, what's the big idea?</h2>
      {{ page }}
    </div>
  </div>
</div>

<!--
{% if page.timeline %}
{% include fellows/timeline.html labels=page.timeline.labels events=page.timeline.events %}
{% endif %}
-->

{% assign flashgrants = site.data.flashgrants | where: "fellow", page.name | sort: "date" | reverse %}
{% if flashgrants.size != 0 %}
{% include fellows/flashgrants.html grants=flashgrants %}
{% endif %}

{% if page.spend %}
{% include fellows/spend.html spend=page.spend contribution=page.contribution %}
{% endif %}

<div class="spacer"></div>
